#pragma once
// Adafruit IO Account Configuration
// (to obtain these values, visit https://io.adafruit.com and click on Active Key)
const char *mqtts_username = "AIO username";
const char *mqtts_key = "aio_key_here";