#pragma once
// Adafruit IO Account Configuration
// (to obtain these values, visit https://io.adafruit.com and click on Active Key)
const char *mqtts_username = "AIO username";
const char *mqtts_key = "aio_key_here";

// OTA
const char *ota_server = "https://updateserver.com"; // No trailing slash!
const char *ota_user = "device";
const char *ota_passwd = "Ju8svret^R&8EgfV5B$w";